
/* Axes */
.iobio-axis path, .iobio-axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

/* Tooltip */
.iobio-tooltip {   
	position: absolute; 
	top:0px;            
	text-align: center;           
	z-index:20;
	color:white;
	padding: 4px 6px 4px 6px;             
	font: 11px arial;        
	background: rgb(80,80,80);   
	border: 0px;      
	border-radius: 4px;           
	pointer-events: none;         
}

/* Brush */
.iobio-brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}